<%= render partial: 'layouts/cabecalho' %>

<div class="row">
  <div class="container">
    <div class="col-md-10">
    </div>
    <%= link_to 'Adicionar Projeto', { controller: 'projeto', action: 'novo'}, class: 'btn btn-primary btn-default'%>
  </div>
</div>

<div class="row">

  <div class="panel panel-default" style="margin-top: 20px">
    <div class="panel-heading">
      <h3 class="panel-title">Projetos</h3>
    </div>
    <div class="panel-body">
      <ul class="media-list">

        <% @projetos.each do |c| %>
        <li class="media">
          <div class="media-left">
              <%= image_tag c.capa.url(:original), width: 150, height: 150, class: 'center-block'%>
          </div>
          <div class="media-body">
            <div class="col-md-6">
              Nome
              <h4 class="media-heading"><%= c.nome %></h4>
              Descrição
              <h4 class="media-heading"><%= c.descricao %></h4>
            </div>

            <div class="btn-group" role="group" aria-label="...">              
              <%= link_to 'Excluir', { controller: 'projeto', action: 'deleta', id: c.id_projeto}, {class: 'btn btn-danger btn-default'} %>
              <%= link_to 'Editar', { controller: 'projeto', action: 'edita', id: c.id_projeto }, {class: 'btn btn-warning btn-default'} %>
            </div>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>
