<div class="row">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cátalogo <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/">categoria</a></li>
              <li><%= link_to 'itens', { controller: 'item', action: 'lista'}%></li>
            </ul>
          </li>
          <%= link_to('Sair', destroy_usuario_session_path, :method => :delete, class: 'btn btn-default navbar-btn') %>
          <li><a href="">Orçamento</a></li>
          <li><a href="">Agendamento</a></li>
          <li><a href="">Projetos</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>


<div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Edita item da Categoria </h3>
        </div>
        <div class="panel-body">
         <%= form_for @item, :html => {multipart: true, method: :PUT} ,:url => {:action => :altera} do |n| %>
         <ul class="media-list">

             <div class="fileinput fileinput-new" data-provides="fileinput">
               <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                 <img data-src="holder.js/100%x100%" src="<%= @item.foto.url(:original) %>">
               </div>
               <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
               <div>
                 <span class="btn btn-default btn-file"><span class="fileinput-new">Selecione um Imagem</span><span class="fileinput-exists">Mudar</span><%= n.file_field :foto %></span>
                 <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
               </div>
             </div>
              <h2 class="form-signin-heading">Nome Item</h2>
              <%= n.text_field :nome, class: "form-control" %>
              <h2 class="form-signin-heading">Descrição</h2>
              <%= n.text_area :descricao, rows: 3, class: "form-control" %>
              <h2 class="form-signin-heading">Preço</h2>
              <div class="input-group">
                <span class="input-group-addon">R$</span>
                <%= n.text_field :preco, class: "form-control", placeholder: '0000.00', data: {mask: '9999.99'} %>
                <span class="input-group-addon">.00</span>
              </div>
              <h2 class="form-signin-heading">Preço de reposição</h2>
              <div class="input-group">
                <span class="input-group-addon">R$</span>
                  <%= n.text_field :preco_reposicao, class: "form-control", placeholder: '0000.00', data: {mask: '9999.99'} %>
                <span class="input-group-addon">.00</span>
              </div>
              <h2 class="form-signin-heading">Quantidade</h2>
              <%= n.number_field :quantidade, class: 'form-control' %>
              <h2 class="form-signin-heading">Categoria</h2>
              <%= n.collection_select :id_categoria, Categoria.all, :id_categoria, :nome, {prompt: "Seleciona "}, {class: "form-control"} %>
              <%= n.submit "Salvar", class: "btn btn-primary btn-block", style: 'margin-top: 20px' %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
