<div class="row">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cátalogo <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/">categoria</a></li>
              <li><%= link_to 'itens', { controller: 'item', action: 'lista'}%></li>
            </ul>
          </li>
          <%= link_to('Sair', destroy_usuario_session_path, :method => :delete, class: 'btn btn-default navbar-btn') %>
          <li><a href="">Orçamento</a></li>
          <li><a href="">Agendamento</a></li>
          <li><a href="">Projetos</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="row">
  <div class="container">
    <div class="col-md-10"></div>
    <%= link_to 'Adicionar Item', { controller: 'item', action: 'novo'}, class: 'btn btn-primary btn-default'%>
  </div>
</div>

  <div class="panel panel-default" style="margin-top:20px">
    <div class="panel-heading">
      <h3 class="panel-title">Itens da Arcevo</h3>
    </div>
    <div class="panel-body">
      <ul class="media-list">


          <% @itens.each_with_index do |i, index| %>
            <% if index == 3; index = 0 %>
              <div class="row">
            <% end %>
          <div class="col-md-3">
            <div class="thumbnail">
              <%= image_tag i.foto.url(:original), width: 242, height: 200, class: 'center-block'%>
              <div class="caption">
                <h3><%= i.nome %></h3>
                <p><%= i.descricao %></p>
                <%= link_to 'Editar', { controller: 'item', action: 'edita', id: i.id_item}, {class: 'btn btn-default'} %>
                <%= link_to 'Deletar', { controller: 'item', action: 'deleta', id: i.id_item, id_categoria: i.id_categoria}, {class: 'btn btn-danger btn-default'} %>
              </div>
            </div>
          </div>
            <% if index == 3; index = 0 %>
              </div>
            <% end %>
          <% end %>

    </ul>
    </div>
  <br/>
