<%= render partial: 'layouts/cabecalho' %>

<div class="row">
  <div class="container">
    <div class="col-md-10"></div>
    <%= link_to 'Adicionar Item', { controller: 'item', action: 'novo'}, class: 'btn btn-primary btn-default'%>
  </div>
</div>

  <div class="panel panel-default" style="margin-top:20px">
    <div class="panel-heading">
      <h3 class="panel-title">Itens do Acervo</h3>
    </div>
    <div class="panel-body">
      <ul class="media-list">


          <% @itens.each_with_index do |i, index| %>
            <% if index == 3; index = 0 %>
              <div class="row">
            <% end %>
          <div class="col-md-3">
            <div class="thumbnail">
              <%= image_tag i.foto.url(:original), width: 242, height: 200, class: 'center-block'%>
              <div class="caption">
                <h3><%= i.nome %>  <span class="badge"><%= i.quantidade  %></span></h3>
                <p><%= i.descricao %></p>
                <div class="btn-group" role="group" aria-label="...">
                <%= link_to 'Editar', { controller: 'item', action: 'edita', id: i.id_item}, {class: 'btn btn-warning btn-default'} %>
                <%= link_to 'Excluir', { controller: 'item', action: 'deleta', id: i.id_item, id_categoria: i.id_categoria}, {class: 'btn btn-danger btn-default'} %>
              </div>
              </div>
            </div>
          </div>
            <% if index == 3; index = 0 %>
              </div>
            <% end %>
          <% end %>

    </ul>
    </div>
  <br/>
