<div class="row">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <ul class="nav navbar-nav">
          <%= link_to('Sair', destroy_usuario_session_path, :method => :delete, class: 'btn btn-default navbar-btn') %>
          <li><a href="/">Catálogo</a></li>
          <li><a href="">Orçamento</a></li>
          <li><a href="">Agendamento</a></li>
          <li><a href="">Projetos</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>


<div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Novo item da Categoria </h3>
        </div>
        <div class="panel-body">
         <%= form_for @item, :html => {multipart: true, method: :POST} ,:url => {:action => :cria} do |n| %>
         <ul class="media-list">
            <%= n.hidden_field :id_categoria, value: params[:id] %>
            <%= n.file_field :foto %>
            <h2 class="form-signin-heading">Nome Item</h2>
            <%= n.text_field :nome, class: "form-control" %>
            <h2 class="form-signin-heading">Descrição</h2>
            <%= n.text_area :descricao, rows: 3, class: "form-control" %>
            <h2 class="form-signin-heading">Preço</h2>
            <%= n.text_field :preco, class: "form-control" %>
            <h2 class="form-signin-heading">Preço de reposição</h2>
            <%= n.text_field :preco_reposicao, class: "form-control" %>
            <%= n.submit "Salvar", class: "btn btn-primary btn-block" %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
