<div class="row">
  <div class="col-md-3">
          <ul>
            <% @categoria.errors.full_messages.each do |msg| %>
            <div class="alert alert-danger" role="alert">
                <%= msg %>
            </div>
            <% end %>
          </ul>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= (msg) %> Categoria</h3>
      </div>
      <div class="panel-body">
       <%= form_for @categoria, :html => {multipart: true, method: (method)} ,:url => {:action => (action)} do |n| %>
       <ul class="media-list">


          <div class="fileinput fileinput-new" data-provides="fileinput">
            <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
              <img data-src="holder.js/100%x100%" src="<%= @categoria.capa.url(:original) %>">
            </div>
            <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
            <div>
              <span class="btn btn-default btn-file"><span class="fileinput-new">Selecione uma Imagem</span><span class="fileinput-exists">Selecione uma Imagem</span><%= n.file_field :capa %></span>              
            </div>
          </div>

          <h2 class="form-signin-heading">Nome Categoria</h2>
          <%= n.text_field :nome, class: "form-control" %>
          <h2 class="form-signin-heading">Descrição</h2>
          <%= n.text_area :descricao, rows: 3, class: "form-control" %>
          <%= n.submit "Salvar", class: "btn btn-primary btn-block" %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
</div>
