<div class="row">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <ul class="nav navbar-nav">
          <%= link_to('Sair', destroy_usuario_session_path, :method => :delete, class: 'btn btn-default navbar-btn') %>
          <li><a href="/">Catálogo</a></li>
          <li><a href="">Orçamento</a></li>
          <li><a href="">Agendamento</a></li>
          <li><a href="">Projetos</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>


  <div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Edita Categoria</h3>
        </div>
        <div class="panel-body">
         <%= form_for @categoria, :html => {multipart: true, method: :PUT} ,:url => {:action => :altera} do |n| %>
         <ul class="media-list">
           <%= image_tag @categoria.capa.url(:thumb) %>
            <%= n.file_field :capa %>
            <h2 class="form-signin-heading">Nome Categoria</h2>
            <%= n.text_field :nome, class: "form-control" %>
            <h2 class="form-signin-heading">Descrição</h2>
            <%= n.text_area :descricao, rows: 3, class: "form-control" %>
            <%= n.submit "Salvar", class: "btn btn-primary btn-block" %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
