<%= render partial: 'layouts/cabecalho' %>

<div class="row">
  <div class="container">
    <div class="col-md-10">
    </div>
    <%= link_to 'Adicionar Categoria', { controller: 'categoria', action: 'novo'}, class: 'btn btn-primary btn-default'%>
  </div>
</div>

<div class="row">

  <div class="panel panel-default" style="margin-top: 20px">
    <div class="panel-heading">
      <h3 class="panel-title">Categorias</h3>
    </div>
    <div class="panel-body">
      <ul class="media-list">

        <% @categorias.each do |c| %>
        <li class="media">
          <div class="media-left">
            <%= image_tag c.capa.url(:original), height: 150, width: 150 %>
          </div>
          <div class="media-body">
            <div class="col-md-6">
              Nome
              <h4 class="media-heading"><%= c.nome %></h4>
              Descrição
              <h4 class="media-heading"><%= c.descricao %></h4>
            </div>

            <div class="btn-group" role="group" aria-label="...">

              <a class="btn btn-danger btn-default" type="button" id="myBtn<%=c.id_categoria%>">Excluir</a>
              <script>
              $(document).ready(function(){
                  $("#myBtn<%=c.id_categoria%>").click(function(){
                      $("#myModal<%=c.id_categoria%>").modal();
                  });
              });
              </script>

              <div class="modal fade" id="myModal<%=c.id_categoria%>" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel">Tem certeza que deseja excluir a categoria <%= c.nome %>?</h4>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-7">Isso ira apagar todos os itens desta categoria!!</div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <%= link_to 'Confirmar', { controller: 'categoria', action: 'deleta', id: c.id_categoria}, {class: 'btn btn-danger btn-default'} %>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

              <%= link_to 'Editar', { controller: 'categoria', action: 'edita', id: c.id_categoria }, {class: 'btn btn-warning btn-default'} %>

            </div>
            <%= link_to 'Itens', { controller: 'item', action: 'listaDaCategoria', id: c.id_categoria }, {class: 'btn btn-success btn-default'} %>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>
