<div class="row">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <ul class="nav navbar-nav">
          <li><a href="/">Catálogo</a></li>
          <li><a href="">Orçamento</a></li>
          <li><a href="">Agendamento</a></li>
          <li><a href="">Projetos</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="row">
  <div class="container">
    <div class="col-md-10">
    </div>
    <%= link_to 'Adicionar Categoria', { controller: 'categoria', action: 'novo'}, class: 'btn btn-primary btn-default'%>
  </div>
</div>

<div class="row">

  <div class="panel panel-default" style="margin-top: 20px">
    <div class="panel-heading">
      <h3 class="panel-title">Categorias</h3>
    </div>
    <div class="panel-body">
      <ul class="media-list">

        <% @categorias.each do |c| %>
        <li class="media">
          <div class="media-left">
            <%= image_tag c.capa.url(:thumb) %>
          </div>
          <div class="media-body">
            <div class="col-md-6">
              Nome
              <h4 class="media-heading"><%= c.nome %></h4>
              Descrição
              <h4 class="media-heading"><%= c.descricao %></h4>
            </div>
            <div class="btn-group" role="group" aria-label="...">
              <%= link_to 'Deletar', { controller: 'categoria', action: 'deleta', id: c.id_categoria}, {class: 'btn btn-danger btn-default'} %>
              <%= link_to 'Editar', { controller: 'categoria', action: 'edita', id: c.id_categoria }, {class: 'btn btn-warning btn-default'} %>
              <%= link_to 'Itens', { controller: 'item', action: 'listaDaCategoria', id: c.id_categoria }, {class: 'btn btn-success btn-default'} %>
            </div>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>
