<!DOCTYPE html>
<html>
<head>
  <title>Decorazon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <ul class="nav navbar-nav">
              <li><a href="/">Catálogo</a></li>
              <li><a href="">Orçamento</a></li>
              <li><a href="">Agendamento</a></li>
              <li><a href="">Projetos</a></li>
            </ul>
          </div>
        </div>
      </nav>
      </div>

    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
</body>
</html>
